#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-align: center;
  
}

.logo-teste {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100px;
}


html, body {
  height: 100%;
  width: 100%;
  .background-wrapper {
    background-image: url(/mtbk2.png);
    /* /metroidBack1.png */
    /* /backgroundImg.png */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.pd {
  padding: 10px;
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
}